body {
	font-size: 30px;
	color: black;
	background-color: white;
	font-family:  'Oxygen', sans-serif;
}
#header-nav {
	background-color: lightgray;
	border-radius: 0;
	border: 0;

}
#nav-list{
	margin-top: 10px;
}
#nav-list a {
	color: yellow;
	text-align: center;
}
#nav-list a:hover{
	background: #E7E7E7;
}
h1 {
	margin-top: 20px;
	margin-bottom: 40px;
	text-align: center;
}
h2 {
	font-size: 40px;
	color: black;
	left: 400px;		
    text-align: center;
    
   
             
}
p{
			border: 2px black;
			font-size: 25px;
			background-color:gray ;
			width: 95%;
			height: 90%;
			margin-right: auto;
			margin-left: auto;
			color:  black;
			padding: 20px;
			

		}
.row{
			border: 2px black;
			background-color: gray;
		}
